* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

/* body > p {
    padding: 1em;
} */

.pill {
    display: flex;
    overflow-wrap: break-word;
background-color: white;
margin:1em auto;
border-radius: 100%;
}

.pill p {
    opacity: 100%;
    padding: 4em;
    font-size: 3em;

}

p {
    font-family: 'space grotesk';
    opacity: 30%;
    font-size: 1em;
    text-align: center;
    line-height: 1em;
    overflow-wrap: break-word;
    padding: 3em;
    margin-top: -1em;
}

div {
    padding-bottom: 3em;
    padding-top: 2em;
    border-radius:50%;
    line-height: 3em;
    overflow-wrap: break-word;
}

div:not(.pill):hover{
    transition: all 0.05s ease-in-out;
    margin-top: 2em;
}

footer {
    display: flex;
    font-family: 'space grotesk';
    justify-content: space-between;
    font-size: 0.8em;
    padding: auto 3em;
margin-top: -20px;
}

footer a {
    text-decoration: none;
    color: rgb(131, 131, 131);
    opacity: 100%;
}

.ten {
    background-color: #ff4a13;
}

.nine {
    background-color: #0fa162;
}

.eight {
    background-color: #0d9aff;
}

.seven {
    background-color: #cbe810;
}

.six {
    background-color: #ff48e7;
}

.five {
    background-color: #b1bbff;
}

.four {
    background-color: #ff4a13;
}

.three {
    background-color: #0fa162;
}

.two {
    background-color: #0d9aff;
}

.one {
    background-color: #cbe810;
}