* {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'ABCAsfalt-Regular-Trial';
	src: url('ABCAsfalt-Regular-Trial.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

:root {
    --font: 'ABCAsfalt-Regular-Trial';
}

section {
    margin: 0 auto;
    margin-top: 8em;
    border-radius: 20em;
    padding: 2em;
    padding-top: 6em;
    height: 15em;
    text-align: center;
    max-width: 700px;
    display: grid;
    place-content: center;
    color: #0d9aff;
    background-color: #b1bbff;
    transition: all 0.2s ease-in-out;
}

section.backchange {
    background-color: #0d9aff;
    color: #b1bbff;
    transition: all 0.2s ease-in-out;
}

.head {
    font-family: var(--font);
    font-size: 7em;
    line-height: 90px;
}

body {
	align-items: center;
    padding: 2em;
    margin: 0 auto;
	font-family: sans-serif;
	place-items: center;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #ff4a13;
    padding: 0.5em;
    border-radius: 50%;
	cursor: pointer;
    border: none;
    color: #cbe810;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
    transform: translateY(-16em);
}

button.highlight {
	background-color: #cbe810;
	cursor: pointer;
    color: #ff4a13;
    border: none;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
}

/* .clicks :first-child.change {
background-color: #0fa162;
transform: rotate(360deg);
}

.clicks :nth-child(2) {
    background-color: #0fa162;
    display: none;
}

.clicks :nth-child(3) {
    background-color: #0d9aff;
    display: none;
}

.clicks :nth-child(4) {
    background-color: #cbe810;
    display: none;
}

.clicks :nth-child(5) {
    background-color: #ff48e7;
    display: none;
}

.clicks :nth-child(6) {
    background-color: #b1bbff;
    display: none;
}

.clicks :nth-child(7) {
    background-color: #ff4a13;
    display: none;
}

.clicks :nth-child(8) {
    background-color: #0fa162;
    display: none;
}

.clicks :nth-child(9) {
    background-color: #0d9aff;
    display: none;
}

.clicks :nth-child(10) {
    background-color: #cbe810;
    display: none;
}

.clicks :nth-child(11) {
    background-color: #b1bbff;
    display: none;
} */

.clicks {
    border-radius: 50%;
    font-family: 'space grotesk';
    letter-spacing: -0.2px;
    padding: 1em;
    width: fit-content;
    font-size: 1em;
    line-height: 20px;
    font-weight: bold;
}

@media (min-width: 768px) {
section {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 6em;
}

    button {
        transition: all 1s ease-in-out;
        transform: rotate(360deg);
    }

    button.highlight {
        background-color: #cbe810;
        cursor: pointer;
        color: #ff4a13;
        border: none;
        transition: all 1s ease-in-out;
        transform: rotate(0deg);
        transform: translateY(-16em);
    }
}