* {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'ABCAsfalt-Regular-Trial';
	src: url('ABCAsfalt-Regular-Trial.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

:root {
    --font: 'ABCAsfalt-Regular-Trial';
}

section {
    margin: 0 1em;
    margin-top: 10em;
    border: 2px solid;
    border-radius: 20em;
    padding: 2em;
    height: 300px;
    text-align: center;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    font-family: var(--font);
    font-size: 7em;
    line-height: 90px;
}

section {
	background-color: gold;
	transition: all 1s ease-in-out;
}

section.highlight { 
	background-color: #ff48e7;
	transform: rotate(360deg);
}

body {
	--base: 20px;

	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	justify-content: center;
	padding: var(--base);
	row-gap: var(--base);
}

button {
	background-color: deepskyblue;
	border-radius: calc(var(--base) * 2);
	cursor: pointer;
    border: solid 2px;
}

.clicks :first-child {
    background-color: #ff4a13;
    padding: 0.5em;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.clicks :first-child.change {
background-color: #0fa162;
transform: rotateX(360deg);
}

.clicks :nth-child(2) {
    background-color: #0fa162;
    display: none;
}

.clicks :nth-child(3) {
    background-color: #0d9aff;
    display: none;
}

.clicks :nth-child(4) {
    background-color: #cbe810;
    display: none;
}

.clicks :nth-child(5) {
    background-color: #ff48e7;
    display: none;
}

.clicks :nth-child(6) {
    background-color: #b1bbff;
    display: none;
}

.clicks :nth-child(7) {
    background-color: #ff4a13;
    display: none;
}

.clicks :nth-child(8) {
    background-color: #0fa162;
    display: none;
}

.clicks :nth-child(9) {
    background-color: #0d9aff;
    display: none;
}

.clicks :nth-child(10) {
    background-color: #cbe810;
    display: none;
}

.clicks :nth-child(11) {
    background-color: #b1bbff;
    display: none;
}

.clicks {
    border-radius: 50%;
    font-family: 'space grotesk';
    letter-spacing: -0.2px;
    padding: 1em;
    width: fit-content;
    font-size: 1em;
    line-height: 20px;
    font-weight: bold;
}

@media (min-width: 768) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}