* {
    margin: 0;
    padding:0;
}

@font-face {
	font-family: 'Gatwick-Regular';
	src: url('/Users/DVMKKR/Downloads/Parsons SY/Fall 2022/Core 1 Interaction/harmonic-collection/Gatwick-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ABCAsfalt-Regular-Trial';
	src: url('/Users/DVMKKR/Downloads/Parsons SY/Fall 2022/Core 1 Interaction/harmonic-collection/ABCAsfalt-Regular-Trial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ABCMonumentGroteskSemi-Mono-Regular-Trial';
	src: url('/Users/DVMKKR/Downloads/Parsons SY/Fall 2022/Core 1 Interaction/harmonic-collection/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
    --font-size: 36px;
    --line-height: 1em;
    --font:'ABCMonumentGroteskSemi-Mono-Regular-Trial';
    --tracking: -0.8px;
}

.container > div:nth-child(1) {
    background-color: #ff4a13;
}

.container > div:nth-child(2) {
    background-color: #0fa162;
}

.container > div:nth-child(3) {
    background-color: #0d9aff;
}

.container > div:nth-child(4) {
    background-color: #cbe810;
}

.container > div:nth-child(5) {
    background-color: #ff48e7;
}

.container > div:nth-child(6) {
    background-color: #b1bbff;
}

.container > div:nth-child(7) {
    background-color: rgb(255, 74, 19);
}

.container > div:nth-child(8) {
    background-color: rgb(15, 161, 98);
}

.container > div:nth-child(9) {
    background-color: #0d9aff;
}

.container > div:nth-child(10) {
    background-color: #cbe810;
}

.container > div:nth-child(11) {
    background-color: #ff48e7;
}

body {
    letter-spacing: var(--tracking);
}

.header {
    font-size: 2em;
    padding: 2em;
    border-style: solid;
    border-width: 2px;
    letter-spacing: -2px;
    text-align: center;
    margin: 1em;
    font-family: var(--font);
    line-height: 1.8em;
    max-width: fit-content;
    margin: 0 auto;
    background-color: black;
    color: aliceblue;
}

.header:hover {
    transition: all 0.05s ease-in-out;
    font-size: 42px;
    border-radius: 5em;
}

a {
    text-decoration: none;
    color:aliceblue;
}

.container div:hover {
    border-radius: 4em;
    transition: all 0.05s ease-in-out;
    font-family: 'space grotesk';
    font-size: 2em;
}

.caption {
    font-family: 'space grotesk';
    font-style: normal;
}

/* p:not(.caption):hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    transition: all 0.05s ease-in-out;
} */

.caption {
    display: block;
    color: #0000007d;
    font-size: 0.7em;
    line-height: var(--line-height);
    margin-top: 0.4em;
}

.container div {
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-family: serif;
    border-radius: 50%;
    padding: 3.2em;
}

.header {
    line-height: var(--line-height);
    font-size: var(--font-size);
    border-radius: 50%;
}

p:not(.caption) {
    letter-spacing: -4px;
}

/*
body {
    margin: 0 auto;
    font-family: 'space grotesk';
    letter-spacing: -0.8px;
    min-width: 320px;
}

.stickyhead {
    text-align: center;
    font-size: 1.2em;
}

.container {
    text-align: center;
    display:grid;
grid-template-columns: 1fr 1fr;
grid-row-gap: 1em;
grid-column-gap: 1em;
}

p {
    font-family: 'ibm plex mono'
}

.caption {
    color: rgb(140, 140, 140);
    margin-top: 10px;
    letter-spacing: -0.8px;
}

.container div {
    margin-top: 1.5em;
    padding: 1em 2em;
    justify-content: center;
    font-size: 1.5em;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    width: 15em;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

.container div:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    line-height: 4em;
    width: 30em;
    height: 30em;
}
*/

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50% ;
        font-size:1.2em;
        margin: 0 3em;
    }
    }

@media (min-width: 1213px) {
.container {
    display: grid;
    grid-template-columns: 33% 33% 34% ;
    font-size:1.2em;
    margin: 0 3em;
}
}