@font-family {
    font-family: 'belkis-skew';
    src: url('..e1-fonts/Belkis-Skew.otf')
}

html, body {
background-color: #ffffff;
}

#hero-text {
    font-family: 'belkis-skew' , sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 50px;
}

.highlight {
    background-color: #005AEB;
    padding: 20 50px;
}

h1 {
   color: #1b1b1b;
}

p {
    font-family: "ibm plex mono", monospace;
    font-weight: 400;
    color: #005AEB;
}