html, body {
background-color: #ffffff;
}

h1 span {
    font-family: 'Space Grotesk', sans-serif;
    color: #3d47ff;
    font-weight: 400;
    line-height: 1.3em;

}

.block {
    background-color: #e7e7e7;
    border-radius: 0.4em;
    height:250px;
}

.hero {
    line-height: 0.8;
}

#hero-text {
    font-family: 'Space Grotesk', sans-serif;
    color:#6e3910 ;
    font-size: 2em;
    padding: 20px;
}

.headers {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5em;
    margin: 50px;
}

.highlight {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeff;
    border-radius: 0.2em;
    height: 60px;
    max-width: 265px;
    margin-top: -140px;
    margin-left: -10px;
}

