* {
    margin: 0;
    padding:0;
}

:root {
    --font-family: 'space grotesk';
    --font-size: 20px;
    --border-radius:15px;
    --line-height: 24px;
}

@font-face {
	font-family: 'EDNimpkish-Regular';
	src: url('ed-nimpkish-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.or {
    background-color: rgb(242, 242, 242);
    height: fit-content;
}

.container > div:nth-child(1) {
    background-color: #ff4a13;
}

.container > div:nth-child(3) {
    background-color: #0fa162;
}

.container > div:nth-child(5) {
    background-color: #0d9aff;
}

.container > div:nth-child(7) {
    background-color: #cbe810;
}

.container > div:nth-child(9) {
    background-color: #ff48e7;
}

.container > div:nth-child(11) {
    background-color: #b1bbff;
}

.container > div:nth-child(13) {
    background-color: rgb(255, 74, 19);
}

.container > div:nth-child(15) {
    background-color: #0fa162;
}

.container > div:nth-child(17) {
    background-color: #0d9aff;
}

.container > div:nth-child(19) {
    background-color: #cbe810;
}

.container > div:nth-child(21) {
    background-color: #ff48e7;
}

.container > div:nth-child(23) {
    background-color: #b1bbff;
}

.container > div:nth-child(25) {
    background-color: rgb(255, 74, 19);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: var(--font-family);
    font-size: var(--font-size);
    letter-spacing: -1px;
}

header, footer {
    padding: 1.2em;
}

.tb {
    color:aliceblue;
    margin: 0 auto;
    padding: 0.5em 1em;
    background-color: rgb(0, 0, 0);
    border-radius: var(--border-radius);
    width: fit-content;
    line-height: var(--line-height);
}

.container {
    display:flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 1em;
}

.container div:nth-child(odd) {
    color:aliceblue;
    margin: 0 auto;
    padding: 0.5em 0.5em;
    border-radius: var(--border-radius);
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: var(--line-height)
}

.container div:nth-child(even) {
    color:rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0.2em 1em;
    border-radius: var(--border-radius);
    width: fit-content;
    text-align: center;
}

@media (min-width:375px) {
    :root {
        --font-family: 'space grotesk';
        --font-size: 27px;
        --border-radius:20px;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-family: var(--font-family);
        font-size: var(--font-size);
        letter-spacing: -1px;
    }

    .tb {
        line-height: 1.2em;
        text-align: center;
    }

    .container div:nth-child(odd) {
        font-size: 37px;
    }
}

@media (min-width:680px) {
    body {
        display: flex;
        margin: 1.2em auto;
        font-family: var(--font-family);
        font-size: var(--font-size);
        letter-spacing: -1px;
        /* justify-content: space-between;
        align-items: center; */
    }

    .container {
        display: flex;
        flex-direction: row;
        row-gap: 0.5em;
        flex-wrap:wrap;
        height: 600px;
    }

    .container div:nth-child(odd) {
        font-size: 37px;
        line-height: 0.8em;
    }

    .tb {
        margin:auto 0;
        line-height: 1.2em;
    }
}

@media (min-width:964px) {

}
