.heading {
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    font-size: 15px;
    padding: 50px;
}

.highlight {
    background-color: #005AEB;
    padding: 20 50px;
}

h1 {
   color: #b5d3ff;
}

p {
    font-family: "ibm plex mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: antiquewhite;
}