* {
padding: 0;
margin: 0;
}

:root {
    --font-family: 'space grotesk';
    --font-size:3em;
}

body {
    font-family: var(--font-family);
    margin: 0 auto;
    padding: 1em;
}

h1 {
    line-height: 0.8em;
    color: rgb(0, 0, 0);
    font-size: var(--font-size);
    border-radius: 50%;
    border-style: solid;
    padding: 0.5em;
}

h1 span {
    color: blue;
    border-radius: 50%;
    border-style: solid;
    padding: 0.4em;
}

img {
    border-radius: 100%;
    height: 150px;
}

h2 {
    margin: 1em auto;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border-style: solid;
    padding: 0.5em;
}

p {
padding: 4em;
opacity: 60%;
text-align: center;
}

ul {
    padding: 4em;
    opacity: 60%;
    margin: -2em auto;
}

#info-div-3 ul {
    padding: 4em;
    opacity: 60%;
    margin-top: -6em;
}

#info-div-3 p {
    margin-top: -3em;
}

.hero {
    padding: 1em;
}

.stickydiv {
    background-color: #fee6ff;
    height: 30px;
    overflow:auto;
    text-align: center;
    border-radius: 50%;
    margin: 0 2em;
}

.stickydiv p {
    color: #f654ff;
}

h2 span {
    color: #f654ff;
    border-radius: 50%;
    border-style: solid;
}

.info-block {
    background-color: rgb(8, 255, 13);
    padding: 1em;
    border-radius: 50%;
}

footer {
    color: #f654ff;
    border-radius: 50%;
    border-style: solid;
}

footer div p {
    padding: 1em 2em;
    line-height: 1em;
    font-size: 14px;
    opacity: 100%;
}

footer div a {
    font-weight: bold;
    color: #000000;
    border-radius: 50%;
    border-style: solid;
    padding: 0.2em;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 24px;
    }

    h2 {
        font-size: 32px;
    }
}

/*
.stickydiv {
    background-color: #fee6ff;
    width:auto;
    height: 30px;
    overflow:hidden;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: -80px;
}

#stickyheadtext {
    color: #f654ff;
    margin-top: -13px;
}

#stickyfooter {
    margin: 30px auto;
    width:max-content;
text-align: center;
margin-bottom: -10px;
}

#stickyfootertext {
    color: #f654ff;
    margin-top: -13px;
}

span {
    font-family: 'Space Grotesk', sans-serif;
    color: #2d53ff;
    font-weight: 400;
    line-height: 1.3em;
    border-style: solid;
    border-radius: 100%;
}

.info-block {
    background-color: #eeeeff;
    border-radius: 0.8em;
    height:max-content;
    width:540px;
    margin-left: 20px;
    margin-right: 20px;
    overflow:visible;
    margin-top:-30px;
}

p {
    font-family: 'ibm-plex-mono', monospace;
    padding: 15px 25px;
    color:#2d53ff;
}

ul {
    font-family: 'ibm-plex-mono', monospace;
    padding: 20px 40px;
    color:#2d53ff;
}

#span {
    line-height:1.3px;
    color:#f654ff;
}

h2 span {
    color:#f654ff;
}

h2 {
    font-family:'Space Grotesk' ;
    margin-left: 20px;
    margin-top: 200px;
    font-size: 30pt;
    line-height: 1em;
    color:#c7d411 ;
}

.info-div {
    margin-top:-150px;
    height: max-content;
}

.wavy {
    width: 60px;
    height: 6px;
    background-color: #f654ff;
    margin-top: 150px;
    border-radius: 20px;
}

.hero {
    line-height: 0.8;
}

#hero-text {
    font-family: 'Space Grotesk', sans-serif;
    color:#c7d411;
    font-size: 1em;
}

.headers {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5em;
    margin: 50px;
}

.heroimg {
    width: auto;
    border-radius: 10px;
}

#heroimg1 {
height: 520px;
margin-left: -400px;
margin-top:55px;
}

#heroimg2 {
    height: 300px;
    margin-top: 120px;
    margin-bottom: -420px;
    margin-left:600px;
}

#heroimg3 {
    width: 390px;
    margin-top: -330px;
    margin-left:530px;
}

#info-div-1 {
    margin-left:360px;
    margin-top: 400px;
}

#info-div-2 {
    margin-left:360px;
}

#info-div-3 {
    margin-right:360px;
    margin-left: -60px;
}

.subtext {
    color:#d0d0d0;
    font-size: small
}

.footer {
    height: 40px;
} */