* {
    margin: 0;
    padding:0;
}


@font-face {
	font-family: 'EDNimpkish-Regular';
	src: url('/Users/DVMKKR/Downloads/Parsons Sophomore CD Fall 2022/Core 1 Interaction/harmonic-collection/ENTRY-4/webfonts/ed-nimpkish-regular.woff2') format('woff2');
}

body {
    margin: 0 auto;
}

div {
    border-radius: .35em;
    font-family: 'EDNimpkish-Regular', Helvetica, Arial, Sans-Serif;
    font-size: 1.8em;
    padding:0.4em;
    line-height: 1em;
    text-align: center;
    margin: 0.2em 0.2em;
    overflow-wrap:break-word;
}

.cont {
    margin: 0 auto;
}

.doi {
    background-color: #ffffff;
}

.cont > div:nth-child(2) {
    background-color: #ff4a13;
}

.cont > div:nth-child(3) {
    background-color: #0fa162;
}

.cont > div:nth-child(4) {
    background-color: #0d9aff;
}

.cont > div:nth-child(5) {
    background-color: #cbe810;
}

.cont > div:nth-child(6) {
    background-color: #ff48e7;
}

.cont > div:nth-child(7) {
    background-color: #b1bbff;
}

.cont > div:nth-child(8) {
    background-color: rgb(255, 74, 19);
}

.cont > div:nth-child(9) {
    background-color: rgb(15, 161, 98);
}

.cont > div:nth-child(10) {
    background-color: #0d9aff;
}

.cont > div:nth-child(11) {
    background-color: #cbe810;
}

.cont > div:nth-child(12) {
    background-color: #ff48e7;
}

.cont > div:nth-child(13) {
    background-color: #b1bbff;
}

.cont > div:nth-child(14) {
    background-color: rgb(255, 74, 19);
}

.cont > div:nth-child(15) {
    background-color: #ffffff;
}

@media (min-width:160px) {
    .cont {
        width: auto;
        font-size: 4vw;
    }

}

@media (min-width:320px) {
    .cont {
        width: auto;
        font-size: 6vw;
    }

    div {
        max-height: 3em;
    }

    .doi {
        font-size: 6vw;
    }

}

@media (min-width:680px) {
    .cont {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        grid-column-gap: 0.1em;
        font-size:1.2em;
        width: 80%;
    }

    .doi {
        font-size: 1.8em;
    }

}

@media (min-width:760px) {
    .cont {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        grid-column-gap: 0.1em;
        font-size: 3vw;
        width: 80%;
    }

    .cont > div:nth-child(2), .cont > div:nth-child(3) {
        padding-top: 0.4em;
    }

    div {
    height: 12vw;
}

}

@media (min-width:964px) {
    .cont {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        grid-column-gap: 0.1em;
        font-size: 3vw;
    }

    .doi, .cont > div:nth-child(15) {
        font-size: 3vw;
        padding-top: 2em;
    }

    .cont > div:nth-child(2), .cont > div:nth-child(3) {
        padding: 0.4em 0.5em;
    }

    .footer {
        height: 600px;
        width: auto;
    }

}
