* {
    margin: 0;
    padding: 0;
}

:root {
    --list-font: 'ABCAsfalt-Regular-Trial';
    --font:'space grotesk';
    --font-size: 24px;
    font-family: var(--font);
}

@font-face {
	font-family: 'ABCAsfalt-Regular-Trial';
	src: url('ABCAsfalt-Regular-Trial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.question {
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    padding: 1em;
    margin: 0.5em auto;
    font-size: var(--font-size);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: var(--list-font);
    grid-auto-flow:dense;
    overflow-wrap: break-word;
    border: solid;
    max-width: 960px;
    margin: 0 auto;
}

.grid p {
    letter-spacing: 0.02em;
}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
    border: solid 1px;
}

.grid div:nth-child(1) {
    background-color:#1284ff;
text-align: center;
    /* border-radius: 50%; */
    grid-column: span 4;
    padding: 0.1em;
    font-size: 19em;
    line-height: 0.8em;
}

.grid div:nth-child(2) {
    background-color:#ff4112;
    /* border-radius: 50%; */
    text-align: center;
    padding: 2rem;
    grid-column: span 3;
    font-size: 7em;
    line-height: 0.8em;
}

.grid div:nth-child(3) {
    background-color:#d1e215;
    /* border-radius: 50%; */
    grid-column: span 2;
    font-size: 2.5em;
}

.grid div:nth-child(4) {
    background-color:#d4ceff;
    /* border-radius: 50%; */
    grid-column: span 2;
    font-size: 2.2em;
}

.grid div:nth-child(5) {
    text-align: center;
    background-color:#15e223;
    /* border-radius: 50%; */
    grid-column: span 1;
    font-size: 1.9em;
    padding: 0.5rem;
}

.grid div:nth-child(6) {
    background-color:#ff52f6;
    /* border-radius: 50%; */
    grid-column: span 1;
    font-size: 1.2em;
}

.grid div:nth-child(7) {
    text-align: center;
    background-color:#a81bff;
    /* border-radius: 50%; */
    grid-column: span 3;
    font-size: 1.2em;
}

.grid div:nth-child(8) {
    text-align: center;
    background-color:#1e56ff;
    /* border-radius: 50%; */
    grid-column: span 1;
    font-size: 0.9em;
    padding: 0.2rem;
}

.grid div:nth-child(9) {
    text-align: center;
    background-color:#ffb429;
    /* border-radius: 50%; */
    grid-column: span 2;
    font-size: 0.9em;
    padding: 0.4rem;
}

.grid div:nth-child(10) {
    text-align: center;
    background-color:#b8f8f4;
    /* border-radius: 50%; */
    grid-column: span 1;
    font-size: 0.8em;
}

.bib {
    color: rgb(201, 201, 201);
    font-size: 0.8em;
    text-align: center;
    margin: 1em 1em;
}

footer {
    display: flex;
    font-family: 'space grotesk';
    justify-content: space-between;
    font-size: 0.7em;
    letter-spacing: 0px;
    padding: 2em;
}

footer a {
    text-decoration: none;
    color: rgb(195, 195, 195);
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

