.head {
    text-align: center;
    margin: 20px;
}

h1 {
    font-family: 'space grotesk';
    line-height: 25px;
    letter-spacing: -0.8px;
}

h2 {
    font-family: 'ibm plex mono';
    font-size: 12pt;
}

footer {
    display: flex;
    font-weight: lighter;
    font-family: 'space grotesk';
    justify-content: space-between;
    font-size: 1em;
    font-style:normal;
    border: none;
}

footer a {
    text-decoration: none;
    color: rgb(195, 195, 195);
    font-style:normal;
    border: none;
}

footer p {
    border: none;
    font-style:normal;
}

p {
    border-radius: 50%;
    padding: 1em;
    color: aliceblue;
}

.text p:hover {
font-size: 4em;
line-height: 0.8em;
transition: all 0.05s ease-in-out;
}


.text {
    text-align: center;
    line-height: 3em;
}

.text :nth-child(1) {
background-color: #ff4a13;
font-family: 'amador',sans-serif;
font-size: 24pt;
line-height: 20px;
}

.text :nth-child(2) {
    background-color: #0fa162;
    font-family: 'bookmania',serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20pt;
    line-height: 20px;
}

.text :nth-child(3) {
    background-color: #0d9aff;
    font-size: 20pt;
    line-height: 20px;
}

.text :nth-child(4) {
    background-color: #cbe810;
    font-family: 'lust-didone-fine',sans-serif;
    font-size: 18pt;
    line-height: 20px;
}

.text :nth-child(5) {
    background-color: #ff48e7;
    font-family: 'ff-folk-rough',sans-serif;
    font-size: 14pt;
    line-height: 20px;

}

.text :nth-child(6) {
    background-color: #b1bbff;
    font-family: 'nautica',sans-serif;
    font-size: 30pt;
    line-height: 10px;
}

.text :nth-child(7) {
    background-color: #ff4a13;
    font-family: 'Rozha One', serif;
    font-size: 20pt;
    line-height: 30px;
}

.text :nth-child(8) {
    background-color: #0fa162;
    font-family: 'campaign-serif',sans-serif;
    font-size: 20pt;
    line-height: 30px;
}

.text :nth-child(9) {
    background-color: #0d9aff;
    font-family: 'Creepster', cursive;
    font-size: 20pt;
    line-height: 30px;
}
